@font-face {
font-family: byekan;
src: url(fonts/Yekan.eot);
src: url(fonts/Yekan.woff) format('woff');
src: url(fonts/Yekan.ttf) format('truetype');
font-weight: normal;
font-style: normal;
}
body{
font-family: byekan;
}